# server side

/server/node_modules
/server/config/passport-google-oauth2-strategy
/server/config/nodemailer
/server.env
/server/public
/server/uploads
/server/production_logs

# client side

/client/node_modules
/client.env