<link rel="stylesheet" href="/css/_comment.css">
<li id="comment-<%= comment._id%>" class="comment-li">
    <div class="comment">
        <%if(locals.user && (locals.user.id === comment.user.id || locals.user.id === post.user.id)){%>
            <a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>"><i class="bi bi-x-circle"></i></a></button>
        <%}%>
        <%= comment.content %>
        <p>
            <small>
                <%= comment.user.name%>
            </small>
        </p>
    </div>
</li>