<header>
    <nav>
        <div class="logo">Be<span>Social</span></div>
            <ul id="nav-list">
                <li><a href="/">Home</a></li>
                <%if(locals.user){%>
                    <li><a href="/users/profile/?id=<%=user.id%>">Profile</a></li>
                    <li><a href="/chat-room">Chat Room</a></li>
                <%}%>
            </ul>
            <div class="social">
                <%if(locals.user){%>
                    <a href="/users/profile/?id=<%=user.id%>"><%=user.name%></a>
                    <a href="/users/sign-out">Sign Out</a>
                <%} else{%>
                    <a href="/users/sign-in">Sign In</a>
                    <a href="/users/sign-up">Sign Up</a>
                <%}%>
                <div class="list-bar">
                    <i class="bi bi-list"></i>
                </div>
            </div>
        
    </nav>
    
</header>
<script>
    $('.list-bar').click(()=>{
        $('#nav-list').toggle();
    })
</script>