<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <section id="feed-posts">
        <h1>BeSocial/<%=title %></h1>
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="4" placeholder="Type here ...." required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>

        <div id="post-list-container">
            <ul id="post-ul">
                <% for(post of posts){%>
                <%- include('_post')%>
                <%}%>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <%if(locals.user){%>
            <h1>Friends</h1>
            <% for(u of allUser){%>
                <p><a href="users/profile/?id=<%= u.id%>"><%= u.name%></a></p>
                <%}%>
                <%}%>
    </section>
</div>
<script>
    let postDate = $('.date');
    postDate.each(function(){
        let date = new Date(this.innerText);
        let opts = {
            month: 'short',
            day: 'numeric',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        }
        let modifiedDate = date.toLocaleString('default' , opts);
        this.innerHTML = modifiedDate;
    })
    let commentDate = $('.comment-date');
    commentDate.each(function(){
        let date = new Date(this.innerText);
        let opts = {
            month: 'short',
            day: 'numeric',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        }
        let modifiedDate = date.toLocaleString('default' , opts);
        this.innerHTML = modifiedDate;
    })
</script>
<script type="module" src="/js/home_post.js"></script>
<script type="module" src="/js/home_comment.js"></script>
<script type="module" src="/js/toggle_like.js"></script>