<link rel="stylesheet" href="/css/sign_in.css">
<div class="sign-in">
    <h1 style="margin: 0 0 2rem 0">Sigh In</h1>
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Enter Your email" required style="margin-top:2.5rem">
        <input type="password" name="password" placeholder="Enter Your password" required>
        <button><a href="/users/reset-password">forgot password</a></button>
        <input type="submit" value="sign in" style="cursor: pointer; margin-top: 1rem">
        <button><a href="/users/auth/google">Sign in with Google</a></button>
    </form>
</div>
