<h1 style="margin-top:0">sign in</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Enter Your email" required>
    <input type="password" name="password" placeholder="Enter Your password" required>
    <input type="submit" value="sign in">
    <button><a href="/users/auth/google">Sign in with Google</a></button>
</form>