header{
    nav{
        border: 2px solid red;
        display: flex;
        padding: 0 2rem;
        align-items: center;
        justify-content: space-between;
    }   
        .logo{
            font-size: 2rem;
            color: #ed1414;
        }
            span{
                font-size: 1.5rem;
                color: #61b932;
            }
        ul{
            list-style: none;
        }
}