.sign-in, .sign-up {
  min-height: calc(100vh - 6.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .sign-in form, .sign-up form {
    height: 25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 1.2rem; }
    .sign-in form input, .sign-up form input {
      width: 89%;
      height: 1.5rem;
      margin: 0.4rem 0;
      border-radius: 0.5rem;
      padding: 0 0.6rem;
      border: 1px solid black;
      outline: none; }
    .sign-in form button, .sign-up form button {
      width: 89%;
      height: 1.5rem;
      padding: .2rem;
      cursor: pointer;
      border-radius: .5rem;
      border: 1px solid black; }
      .sign-in form button a, .sign-up form button a {
        text-decoration: none;
        color: black; }
