body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important; }
  body header nav {
    height: 3.4rem;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #00425A; }
    body header nav .logo {
      font-size: 2rem;
      color: #FC7300; }
    body header nav span {
      font-size: 1.5rem;
      color: #1F8A70; }
    body header nav ul {
      list-style: none;
      display: flex; }
      body header nav ul li {
        margin-left: 1.3rem; }
        body header nav ul li a {
          color: #FC7300;
          text-decoration: none;
          font-size: .9rem; }
  body .layout-main {
    min-height: calc(100vh - 6.8rem); }
  body footer {
    height: 3.4rem;
    color: #FC7300;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    background-color: #00425A; }
