<div class="mail-content">
    <p>Hi <%=token.user.name%>!</p>
    <br>
    <br>
    <p>click reset to reset password</p>
    <button><a href="http://localhost:8000/users/reset-password/?accessToken=<%=token.accessToken%>" target="_blank">Reset</a></button>
    <br>
    <br>
    <p>Thanks!</p>
    <p>From Team BeSocial</p>
</div>

<!-- <script>
    $('#btn').click(()=>{
        window.location.href = `localhost:8000/users/new-password/?accessToken=%=token.accessToken%>`;
    })
</script> -->